.body-back{
    background-color: #f5f5f5;
    /*background-image: url("img/logo_dif.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;*/
}
.image-dif{
    max-width: 100%; 
    height: auto;
}
.login-container{
    margin-top: 1%;
    margin-bottom: 1%;
    text-align:center;
}
.login-form-1{
    padding: 1%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    font-size: large;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
    padding:1%;
    margin:1%;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 2.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    font-size: large;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

.btnSubmit2{
    width: 50%;
    border-radius: 1rem;
    padding: 2.5%;
    border: none;
    cursor: pointer;

    font-weight: 600;
    color: #0062cc;
    background-color:#f5f5f5;
    font-size: large;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

p{
    color: #333;
    text-align:left
}
.form-control{
    font-size: large;
}